node_modules/
dist/
ios/App/App.xcodeproj/project.xcworkspace/
ios/App/App.xcodeproj/xcuserdata/
ios/App/Pods/
.DS_Store
.env
.idea/
.vscode/
coverage/
*.log

# Example app
example/node_modules/
example/ios/
example/android/
example/.capacitor/
example/package-lock.json
